<header class="bg-gray-100 text-black p-4 border-b-1 border-black">
  <div class="grid grid-cols-1 lg:grid-cols-3 items-center">
    <div>
      <h1>Module JavaScript</h1>
    </div>

    <div class="flex justify-center">
      <ul class="flex items-center gap-10 list-none">
        <li><a href="/index.html">Accueil</a></li>
        <li><a href="#EXERCICES">Exercices</a></li>
        <li><a href="/src/exercices/html/exercices.html">Trombinono</a></li>
      </ul>
    </div>

    <div></div>
  </div>
</header>
